apiVersion: v1
kind: Secret
metadata:
  name: openfaith-secrets
  namespace: openfaith
type: Opaque
stringData:
  # Secrets
  BETTER_AUTH_SECRET: ""
  DB_PASSWORD: ""
  DB_USERNAME: "" 
  PLANNING_CENTER_SECRET: ""
  RESEND_API_KEY: ""
  VITE_PLANNING_CENTER_CLIENT_ID: ""
  ZERO_ADMIN_PASSWORD: ""
  ZERO_UPSTREAM_DB: ""
  # URLs
  ZERO_AUTH_JWKS_URL: ""
  ZERO_PUSH_URL: ""
  VITE_ZERO_SERVER: ""
  VITE_BASE_URL: ""
  VITE_PROD_ROOT_DOMAIN: ""
  VITE_PROD_EMAIL_DOMAIN: ""